.button {
  background-color: #ffbb16 !important;
  color: #14143c !important;
  text-transform: capitalize !important;
}

.kontrolrapport {
  margin-top: 400px !important;
  width: 100% !important;
}