/* Custom fonts fra Toldstyrelsens  */

@font-face {
  font-family: "Academy Sans";
  src: local("Academy Sans Regular"), url("./AcademySans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Academy Sans";
  src: local("Academy Sans Bold"), url("./AcademySans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Academy Sans";
  src: local("Academy Sans Italic"),
    url("./AcademySans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Academy Sans";
  src: local("AcademySans Heavy Italic"),
    url("./AcademySans-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Academy Sans";
  src: local("Academy Sans Light Italic"),
    url("./AcademySans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Academy Sans";
  src: local("Academy Sans Regular"), url("./AcademySans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Academy Sans";
  src: local("Academy Sans Heavy"),
    url("./AcademySans-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Academy Sans";
  src: local("Academy Sans DemiBold"),
    url("./AcademySans-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Academy Sans";
  src: local("Academy Sans Bold Italic"),
    url("./AcademySans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Academy Sans";
  src: local("Academy Sans DemiBold Italic"),
    url("./AcademySans-DemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Academy Sans";
  src: local("Academy Sans Light"),
    url("./AcademySans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
